
  <div class="container">

    <div class="row py-2 ">
      <div class="col col-3">
        <b class="d-inline-block lastUpdate text-center h-100  px-2 py-1 rounded">
          <div class="fa-globe fa"></div>
          في العالم</b>
      </div>
      <div class="col col-3 py-2 text-right   summary">
        حالات مؤكد
        <span class="badge badge-danger ml-2 mr-3">
          {{ Summary?.confirmed?.value }}</span>
      </div>
      <div class="col col-3 py-2 text-right  summary ">
        متعافى
       <span class="badge badge-success ml-2 mr-3">
            {{ Summary?.recovered?.value }}</span>
      </div>
      <div class="col col-3 py-2 text-right  summary ">
        وفيات
        <span class="badge badge-dark ml-2 mr-3">
          {{ Summary?.deaths?.value }}</span>
      </div>
    </div>
    <div class="row border-top ">

      
      <div class="col col-md-6">
        <input placeholder="البحث" class="form-control search-table border-lfet border-right" type="text"  [(ngModel)]="term"  name="term"  />
      </div>
      <div class="col col-md-6 ">
        <div class="rounded lastUpdate lastUpdatetable ">
          <p class="text-center my-1 py-1 ">
          جميع الدول
          </p>
         
        </div>
      </div>
    </div>
  
  </div>

<table dir="rtl" class="fixed_header table mb-0">
  <thead class="border-bottom-0">
    <tr class="border-bottom border-top">
      <th scope="col" class="index-table">الترتيب</th>
      <th scope="col" class="index-table invisible" >***</th>
      <th scope="col" class="sm-center">الدولة</th>
      <th scope="col" class="text-center">
        <tr><td> حالات مؤكد</td></tr>
       <tr>
         <td>الكل</td>
         <td>اليوم</td>
       </tr>
      </th>
      <th *ngIf="mobileWidth" scope="col" class="text-center">
        متعافى
      </th>
      <th *ngIf="mobileWidth" scope="col" class="text-center">
        <tr><td>وفيات</td></tr>
       <tr>
         <td>الكل</td>
         <td>اليوم</td>
       </tr>
      </th>
      <th class="index-table invisible">***</th>
    </tr>
  </thead>
  <tbody>
 
    <ng-container
    *ngFor="
      let country of countries | filter: term | orderBy: order:true:true;
      index as i
    "
  >
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel  >
      <ng-template ngbPanelTitle *ngIf="country.total_cases !== 0">
  <tr class="text-right text-white border-bottom  ">
    
      <th class="index-table">
        {{ i + 1 }}</th>
        <td class="index-table">

       
      <img
        src="https://www.countryflags.io/{{ country.code }}/shiny/64.png"
        class="mr-2"
        style="width: 25px;"
          /></td>
      <td>
            <span class="text-white">{{country.name}}</span>
        </td>
          <td >
            <tr>
              <td>
                 <span class="badge badge-danger"> {{country.total_cases}}  </span>
            </td>
              <td>{{country.total_new_cases_today}}+</td>
            </tr>
           
          </td>
          <td class="py-2" *ngIf="mobileWidth">
            <span class="badge badge-success">{{country.total_recovered}}</span>       

          </td>
          <td class="deaths" *ngIf="mobileWidth"> 
            <tr>
              <td>

                <span class="badge badge-dark">{{country.total_deaths}}</span>       
              </td>
              <td>
                {{country.total_new_deaths_today}}+
              </td>
            </tr>
          </td>
          <i class="fa p-2  fa-angle-double-down"></i>
        </tr>
      </ng-template>
              <ng-template ngbPanelContent>
                <div class="container tbbody">
                  <div class="row text-white">
                    <div class="col-12 col" *ngIf="!mobileWidth">
                      متعافى
                      :
                      <span class="badge badge-success"> {{country.total_recovered}}</span>     
                    
                    </div>
                    
                    <div class="col-12 col mt-2" *ngIf="!mobileWidth"> 
                      وفيات
                     :
                          <span class="badge badge-dark"> {{country.total_deaths}} </span>       
                       <span class="ml-3">
                        اليوم
                        :
                        {{country.total_new_deaths_today}}+
                       </span>
                       
                       
                      </div>
                  </div>
                  <div class="row">
                    <div class="col col-sm-6 col-12">
                      <h5 class="text-info"><span>  معدل التعافي بنسبه مئويه</span> : <span>
                        {{ country.percentrecovered }}% 
                      </span></h5>

                    </div>
                    <div class="col col-sm-6 col-12">
                      <h5  class="text-info"><span> معدل الوفات بنسبه مئويه</span> : <span>
                        {{ country.percentdeaths }}% 
                      </span></h5>
                    </div>
                  </div>
                  <div class="row">
                    
                    <div class="col col-sm-6 col-12 text-white">
                      <p><span> الحالات النشطة </span> : <span>
                        {{ country.total_active_cases }}
                      </span></p>  
                      <p><span> الحالات مستقر </span> : <span>
                        {{ country.total_active_cases - country.total_serious_cases }}
                      </span></p>
                          <p><span> الحالات الخطيرة </span> : <span>
                              {{ country.total_serious_cases }}
                            </span></p>
                            <p><span>  اجمالي التحليل </span> : <span>
                              {{ country.tests }}
                            </span></p>  
                    </div>
                    <div class="col col-sm-6 col-12 text-white">
                    
                      <p><span>الحالات  على كل مليون </span> : <span>
                        {{ country.casesPerOneMillion }}
                      </span></p>
                      <p><span>الوفيات على كل مليون </span> : <span>
                        {{ country.deathsPerOneMillion }}
                      </span></p>  
                      <p><span> التحليل على كل مليون </span> : <span>
                        {{ country.testsPerOneMillion }}
                      </span></p>  

                        
                      
                    </div>
                  </div>
                </div>
              </ng-template>
    </ngb-panel>
  </ngb-accordion>
          
</ng-container>
  </tbody>
</table>


