tbody tr.text-right.text-white.border-bottom:first-child {
  background-color:  #24272a !important;
}

// tbody .text-right.text-white.border-bottom:nth-child(2) {
//   background-color: rgb(153, 40, 40) !important;
// }
// tbody .text-right.text-white.border-bottom:nth-child(3) {
//   background-color: rgb(153, 70, 70) !important;
// }

.lastUpdatetable {
  font-size: 11px;
}
.summary {
    font-size: 13px;
    
}

.search-table {
    background: #2d3135;
    height: 100%;
    color: white;
    border-top: none;
    border-bottom: none;
    border-radius: 0 !important;
    &::placeholder {
        color: white;
    }
}
.fixed_header{
    width: 100% !important;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
  display: block;
  width: 100% !important;
  overflow: auto;
  height: 300px;
}

.fixed_header thead tr, .fixed_header tbody tr {
   display: block;
   width: 100% !important;
}

.fixed_header thead {
  background: #000000a4;
  color:#fff;
}

.fixed_header th, .fixed_header td {
  padding: 4px;
  text-align: right !important ;
  width: 200px;
  border: none !important;
}
.deaths {
  text-align: left !important;
}
.index-table {
 text-align: right !important;
}

.tbbody p, .tbbody h5 {
    padding-top: 5px;
    padding-bottom: 5px;
  
    margin: 0 !important;
}
.xs-show {
  display: none;
}
.xs-hidden {
  display: auto;
}
@media (max-width : 512px) {
  .xs-show {
    display: block;
  }
  .xs-hidden {
    display: none;
  }
.summary {

  span.badge {
    font-size: 9px !important;
}
}
h6, p, span, th, td {
  font-size: 12px !important;
}
    .fixed_header th, .fixed_header td {
        padding: 4px;
        font-size: 12px;
        text-align: right;
        width: 200px;
      }
      .text-right, .sm-center {
        text-align: center !important;
      }
      .fa-globe {
        display: none !important;
      }

}
