<main  class="container">

    <div class="row ">
      <div class="col col-12  col-lg-3 py-4">
        <div class="card w-100">
          <div class="pt-3 px-3">
            <h4 class=" float-left">تونس</h4>
            <img
              src="https://www.countryflags.io/tn/shiny/64.png"
              class="card-img-top float-right  rounded-circle "
              alt="..."
            />
            <div class="clearfix"></div>
          </div>
          <div class="card-body tn">
            <div class="my-2">
              <h6 class="card-title float-left">حالات مؤكد</h6>
              <h6 class="float-right badge badge-danger">
                {{ dataTn?.confirmed }}
              </h6>
              <div class="clearfix"></div>
            </div>
            <div class="my-2">
              <h6 class="card-title float-left"> متعافى</h6>
              <h6 class="float-right badge badge-success">
                {{ dataTn?.recovered }}
              </h6>
              <div class="clearfix"></div>
            </div>
            <div class="my-2">
              <h6 class="card-title float-left"> وفيات </h6>
              <h4 class="float-right badge badge-dark">
                {{ dataTn?.deaths }}
              </h4>
              <div class="clearfix"></div>
            </div>
            <div class="rounded lastUpdate mt-4 py-2">
              <p class="text-center my-1">
                اخر التحديث
              </p>
              <p class="text-center my-1">
                {{ dataTn?.lastUpdate | date: "medium" }}
              </p>
            </div>
          </div>
        </div>
        <!-- Begin Hsoub Ads Ad Place code -->
<script type="text/javascript">
  hsoub_adplace = 2001755051853354;
  hsoub_adplace_size = '336x280';
</script>
<script src="http://ads2.hsoub.com/show.js" type="text/javascript"></script>
<!-- End Hsoub Ads Ad Place code -->
      </div>
      <div class="col col-12  col-lg-9  ">
        <div class="card w-100 mt-4 ">
       
  
              <app-table ></app-table>
        </div>
      </div>
    </div>
    
      <div class="row mt-4">
        <div class=" col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let item of slide">
          <div class="card dropdown">
            <div class="card-body dropbtn row pb-1 ">
              <div class="col-6 pb-0 pr-3">
                <h6 class="">
                  {{ item.ar }}
                </h6>
                <p class="badge badge-danger">
                  {{ item.data.confirmed }}
                </p>
              </div>
              <div class="col-6">
                <img
                  [src]="item.flag"
                  class="float-right rounded-circle  flag"
                  alt=""
                />
                <div class="clearfix"></div>
              </div>
              <div class="dropdown-content p-3">
                <div>
                  <h6 class="card-title float-left">حالات مؤكد</h6>
                  <h6 class="float-right mr-3 badge badge-danger">
                    {{ item.data.confirmed }}
                  </h6>
                  <div class="clearfix"></div>
                </div>
                <div class="my-2">
                  <h6 class="card-title float-left"> متعافى</h6>
                  <h6 class="float-right mr-3 badge badge-success">
                    {{ item.data.recovered }}
                  </h6>
                  <div class="clearfix"></div>
                </div>
                <div class="my-2">
                  <h6 class="card-title float-left"> وفيات </h6>
                  <h6 class="float-right mr-3 badge badge-dark">
                    {{ item.data.deaths }}
                  </h6>
                  <div class="clearfix"></div>
                </div>
                <div class="rounded lastUpdate mt-4 py-2">
                  <p class="text-center my-1">
                    اخر التحديث
                  </p>
                  <p class="text-center my-1">
                    {{ item.data.lastUpdate | date: "medium" }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
</main>
